<div class="container" data-controller= "listController">

    <div class="row">
        <div data-target="listController.alerts" >

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
        	<%= form_for @list do |l| %>
                <div class="input-group mb-3" id= "divNewList">
            		<%= l.text_field :name, placeholder: "Create any list", type: "text", class: "form-control"%>
                    <span class="input-group-btn">
                	   <%= l.submit 'Salvar', class: 'btn btn-success' %>
                    </span>
                </div>
        	<% end %>
            <div class="input-group input-group-sm mb-3" id="divEditList" style="display: none;">
                <input id="inputListName" class="form-control" data-target="listController.inputListName" type="text">
                <input class="form-control" data-target="listController.inputListId" type="hidden">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-sm" data-action=listController#showDivTableSelect>Cancelar</button>
                    <button class="btn btn-success btn-sm" data-action=listController#saveListEdited>Salvar</button>
                </span>
                
            </div>


        </div>

        <div class="col-sm-8">
            <div class="input-group mb-3">
                <input class="form-control" name="inputNewItem" placeholder="Create any item" data-target="listController.inputNewItemName" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-success" data-action="click->listController#createItem">Salvar</button>
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="selectList" id="selectList" size="20">
                <% if @lists.length == 0 %>
                    <option>Vazio...</option>
                <% else %>
                    <% @lists.each do |lis| %>
                        <option name="optionList" data-action="click->listController#showAllItems dblclick->listController#editListSelected" data-list-id="<%= lis._id %>" > <%= lis.name %> </option>
                    <% end %>
                <% end %>
            </select>
       
        </div>
        <br>
        <div class="col-sm-8" >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Items</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="tableItems" data-target="listController.results">
                </tbody>
            </table>
        </div>
    </div>




<!-- Modal para editar um item -->
  <div class="modal fade" id="modalEditItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Editar Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div data-target="listController.modalAlerts" >
        </div>

            <input class="form-control" data-target="listController.inputItemName" type="text">
            <input class="form-control" type="hidden" data-target="listController.inputItemId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="button" data-action="click->listController#saveItemEdited" class="btn btn-success btn-sm">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal para DELETAR um item -->
  <div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deletar Item?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <input class="form-control" type="hidden" data-target="listController.inputItemId">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
            <button type="button" data-action="click->listController#deleteItem" class="btn btn-success btn-sm">Deletar</button>
        </div>
      </div>
    </div>
  </div>


</div>