
<div data-controller= "listController">
	
<section id="left">
    <div>
		<%= form_for @list do |l| %>
			Create list: <%= l.text_field :name %>
			<%= l.submit 'Save' %>
		<% end %>
    </div>

    <br>
    <div id="divSelect" >
        <select name="lista" id="lista" size="25"  >
        	<% if @lists.length == 0 %>
        		<option>Vazio...</option>
        	<% else %>
            	<% @lists.each do |lis| %>
	            	<option data-action="click->listController#selectList" data-list-id="<%= lis._id %>" > <%= lis.name %> </option>
	            <% end %>
        	<% end %>
        </select>
    </div>
    <div>
        <input placeholder="Create any item" data-target="listController.newItem" type="text">
        <button data-action="click->listController#createItem">Save</button>
    </div>

<br>
    <div data-target="listController.results">
        <p>Nenhum item selecionado...</p>
    </div>

</section>

</div>
