<div class="container" data-controller= "listController">

    <div class="row">
        <div data-target="listController.alerts" >

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-3">
        	<%= form_for @list do |l| %>
                <div class="input-group mb-3">
            		<%= l.text_field :name, placeholder: "Create any list", type: "text", class: "form-control", style: "width: 200px"%>
                	<%= l.submit 'Save', class: 'btn btn-success' %>
                </div>
        	<% end %>
        </div>

        <div class="col-sm-5">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Create any item" data-target="listController.newItem" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-success" data-action="click->listController#createItem">Save</button>
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="lista" id="lista" size="20">
                <% if @lists.length == 0 %>
                    <option>Vazio...</option>
                <% else %>
                    <% @lists.each do |lis| %>
                        <option data-action="click->listController#selectList" data-list-id="<%= lis._id %>" > <%= lis.name %> </option>
                    <% end %>
                <% end %>
            </select>            
        </div>
        <br>
        <div class="col-sm-5" >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Items</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="tableItems" data-target="listController.results">
                </tbody>
            </table>
        </div>
    </div>

  <div class="modal fade" id="ModalEditItem" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalLongoExemplo">Editar Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control" placeholder="Edit item" data-target="listController.newItem" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

</div>