
<div>
	
<section id="left">
    <div>
		<%= form_for @list do |l| %>
			Create list: <%= l.text_field :name %>
			<%= l.submit 'Save' %>
		<% end %>
    </div>
    <br>
    <div>
        <select name="sl-list" id="sl-list" size="10">
        	<% if @lists.length == 0 %>
        		<option>Vazio...</option>
        	<% else %>
            	<% @lists.each do |lis| %>
	            	<option>
	            		<%= lis.name %>
	            	</option>
	            <% end -%>
        	<% end %>
        </select>
    </div>
</section>

<section id="right">
    <div>
		<%= form_for @item, :url => {:controller => "item", :action => "create"} do |i| %>
			Create item: <%= i.text_field :name %>
			List: <%= i.collection_select(:list_id, List.all, :id, :name)%>
			<%= i.submit 'Save' %>
		<% end %>
    </div>
<br>
    <div>
         <select name="sl-list" id="sl-list" size="10">
        	<% if @items.length == 0 %>
        		<option>Vazio...</option>
        	<% else %>
            	<% @items.each do |it| %>
	            	<option>
	            		<% if it.list %>
		            		<%= it.name + " --- " + it.list.name  %> 
	            		<% else %>
	            			<%= it.name %>
	            		<% end %>
	            	</option>
	            <% end -%>
        	<% end %>
        </select>   	
    </div>
</section>
	
</div>




<div id="div-bt">
	<input type="string">
	<input type="button" name="tes" value="Filter by list">
	<button>Show all items</button>	
</div>