<div data-controller= "listController">

    <div class="row">
        <div data-target="listController.alerts" >
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-1">Colocar um Menu lateral aqui</div> -->
        <div class="col-sm-3">
        	<%= form_for @list do |l| %>
                <div class="input-group mb-3" id= "divNewList">
            		<%= l.text_field :name, placeholder: "Create any list", type: "text", class: "form-control"%>
                    <span class="input-group-btn">
                	   <%= l.submit 'Save', class: 'btn btn-success' %>
                    </span>
                </div>
        	<% end %>
            <div class="input-group input-group-sm mb-3" id="divEditList" style="display: none">
                <input id="inputListName" class="form-control" data-target="listController.inputListName" type="text">
                <input class="form-control" data-target="listController.inputListId" type="hidden">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-sm" data-action=listController#showGridDefault>Cancel</button>
                    <button class="btn btn-success btn-sm" data-action=listController#saveListEdited>Save</button>
                </span>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="input-group mb-3">
                <input class="form-control" name="inputNewItem" placeholder="Create any item" data-target="listController.inputNewItemName" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-success" data-action="click->listController#createItem">Save</button>
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- <div class="col-sm-1">Colocar um Menu lateral aqui </div> -->
        <div class="col-sm-3">
            <select class="form-control" name="selectList" id="selectList" size="20">
                <% if @lists.length == 0 %>
                    <option>Vazio...</option>
                <% else %>
                    <% @lists.each do |lis| %>
                        <option name="optionList" data-action="click->listController#showAllItems dblclick->listController#editListSelected" data-list-id="<%= lis._id %>" > <%= lis.name %> </option>
                    <% end %>
                <% end %>
            </select>

            <div class="input-group input-group-sm mb-3" id="divDeleteList" style="display: none">
                <button class="btn btn-danger" data-action="click->listController#deleteList">Deletar Lista</button>
            </div>            
        </div>
        <br>
        <div class="col-sm-8" >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Done</th>
                        <th scope="col"style="width: 300px">Items</th>
                        <th scope="col" >Progress</th>
                        <th scope="col" >Created</th>
                        <th scope="col" >Assignee</th>
                        <th scope="col" >Deadline</th>
                        <th scope="col" >Estimated Time</th>
                        <th scope="col" >Priority</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                    </tr>
                </thead>

                <tbody id="tableItems" data-target="listController.results">
                </tbody>
            </table>
        </div>
    </div>




<!-- Modal para Edit um item -->
  <div class="modal fade" id="modalEditItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Edit Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div data-target="listController.modalAlerts" >
        </div>

            <input class="form-control" type="hidden" data-target="listController.inputItemId">
            <label>Name</label>
            <input class="form-control" data-target="listController.inputItemName" type="text">
            <br>
            <label>Progress: <span id="progress"></span>%</label>
            <input class="form-control" id="progress" data-target="listController.inputProgress" type="range">
            <br>
            <div style="display: flex; justify-content: space-between;">
                <label>Assignee</label>
                <label style="flex-basis: 49.5%;">Estimated Time</label>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <select class="form-control" name="inputAssigne" data-target="listController.inputAssignee">
                    <option value=""></option>
                    <option value="Patriky">Patriky</option>
                    <option value="DEV">DEV</option>
                    <option value="Marlon">Marlon</option>
                    <option value="Eder">Eder</option>
                    <option value="Vitória">Vitória</option>
                    <option value="HORUS">HORUS</option>
                    <option value="Rafael">Rafael</option>
                    <option value="Outro">Outro</option>
                </select>
                <!-- <br> -->
                <select class="form-control" name="inputEstimatedTime" data-target="listController.inputEstimatedTime">
                    <option value=""></option>
                    <option value="Less then 1h">Less then 1h</option>
                    <option value="1h">1h</option>
                    <option value="2h">2h</option>
                    <option value="3h">3h</option>
                    <option value="4h">4h</option>
                    <option value="5h">5h</option>
                    <option value="8h">8h</option>
                    <option value="10h">10h</option>
                    <option value="12h">12h</option>
                    <option value="15h">15h</option>
                    <option value="20h">20h</option>
                    <option value="More then 20h">More then 20h</option>
                </select>
            </div>
            <br>
            <div style="display: flex; justify-content: space-between;">
                <label>Deadline</label>
                <label style="flex-basis: 49.5%;">Priority</label>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <input class="form-control" data-target="listController.inputDeadline" type="date">
                <br>
                <select class="form-control" name="inputPriority" data-target="listController.inputPriority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Max">Max</option>
            </select>
            </div>
            <br>
            Notes
            <textarea rows="10" name="inputNote" class="form-control" data-target="listController.inputNote"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" data-action="click->listController#deleteItem" class="btn btn-danger btn-sm" data-dismiss="modal" style="float:left">DELETE ITEM</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" data-action="click->listController#saveItemEdited" class="btn btn-success btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal para DELETAR um item -->
  <div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deseja deletar?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <input class="form-control" type="hidden" data-target="listController.inputItemId">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            <button type="button" data-action="click->listController#deleteItem" class="btn btn-success btn-sm">Deletar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal para Edit uma lista -->
  <div class="modal fade" id="modalEditList" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Edit Lista</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <div data-target="listController.modalAlerts" >
        </div>

            <input class="form-control" data-target="listController.inputListNameEdit" type="text">
            <input class="form-control" type="hidden" data-target="listController.inputListId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
          <button type="button" data-action="click->listController#saveListEdited" class="btn btn-success btn-sm">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>
