<!DOCTYPE html>
<html>
  <head>
    <title>ListTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div id="cabecalho", align="center" >
      Header
    </div>

  <body>
    <%= yield %>

  </body>
</html>
